In [6]:
import pandas as pd
weather_data = { #we can create own data frame using dictionary 
      'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/5/6/2017'],
      'temperture': [32,35,28,24,32,31],
      'windspedd':[6,7,2,7,4,2],
      'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

          day  temperture  windspedd  event
0    1/1/2017          32          6   Rain
1    1/2/2017          35          7  Sunny
2    1/3/2017          28          2   Snow
3    1/4/2017          24          7   Snow
4    1/5/2017          32          4   Rain
5  1/5/6/2017          31          2  Sunny

In [14]:
df[2:5] #you can aslo print you want to print

        day  temperture  windspedd event
2  1/3/2017          28          2  Snow
3  1/4/2017          24          7  Snow
4  1/5/2017          32          4  Rain

In [15]:
df.columns

Index(['day', 'temperture', 'windspedd', 'event'], dtype='object')

In [19]:
df.temperture #df['temperture]

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperture, dtype: int64

In [20]:
type(df['event'])

pandas.core.series.Series

In [24]:
df[['event','day','temperture']]

   event         day  temperture
0   Rain    1/1/2017          32
1  Sunny    1/2/2017          35
2   Snow    1/3/2017          28
3   Snow    1/4/2017          24
4   Rain    1/5/2017          32
5  Sunny  1/5/6/2017          31

In [26]:
df['temperture'].max()

np.int64(35)

In [27]:
df[df.temperture>=32] #give me the row whre temperture is greater than or equal to 32

        day  temperture  windspedd  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
4  1/5/2017          32          4   Rain

In [29]:
df[['day','temperture']][df.temperture==df['temperture'].max()] #finding the day and temperature where it is maximum.

        day  temperture
1  1/2/2017          35

In [31]:
df

          day  temperture  windspedd  event
0    1/1/2017          32          6   Rain
1    1/2/2017          35          7  Sunny
2    1/3/2017          28          2   Snow
3    1/4/2017          24          7   Snow
4    1/5/2017          32          4   Rain
5  1/5/6/2017          31          2  Sunny

In [42]:
print("Columns:", df.columns.tolist())

Columns: ['temperture', 'windspedd', 'event']

In [43]:
df

            temperture  windspedd  event
day
1/1/2017            32          6   Rain
1/2/2017            35          7  Sunny
1/3/2017            28          2   Snow
1/4/2017            24          7   Snow
1/5/2017            32          4   Rain
1/5/6/2017          31          2  Sunny

In [44]:
df.loc['1/3/2017']

temperture      28
windspedd        2
event         Snow
Name: 1/3/2017, dtype: object

In [57]:
df.reset_index(inplace=True)
df

   event         day  temperture  windspedd
0   Rain    1/1/2017          32          6
1  Sunny    1/2/2017          35          7
2   Snow    1/3/2017          28          2
3   Snow    1/4/2017          24          7
4   Rain    1/5/2017          32          4
5  Sunny  1/5/6/2017          31          2

In [58]:
df.set_index('event',inplace=True)
df

              day  temperture  windspedd
event
Rain     1/1/2017          32          6
Sunny    1/2/2017          35          7
Snow     1/3/2017          28          2
Snow     1/4/2017          24          7
Rain     1/5/2017          32          4
Sunny  1/5/6/2017          31          2

In [59]:
df.loc['Snow']

            day  temperture  windspedd
event
Snow   1/3/2017          28          2
Snow   1/4/2017          24          7